body,
html {
    margin: 0;
    padding: 0;
    font-family: "Source Sans Pro", sans-serif;
    text-align: justify;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    color: #333;
    background: #fff;
}

h1 {
    font-family: "Julius Sans One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2cm;
    transform: scale(1, 1.15);
    text-transform: uppercase;
    margin: 0.2cm;
    border-bottom: 0.05cm solid #000;
}

h2 {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

h3 {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
}

dl {
    display: grid;
    grid-gap: 4px 16px;
    grid-template-columns: max-content;
    font-size: 0.45cm;
}

dt {
    font-weight: bold;
}

dd {
    margin: 0;
    grid-column-start: 2;
}

.container {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 20%;
    background-color: #484444;
    padding: 20px;
    color: #fff;
}

.profile-image img {
    width: 4cm;
    height: 4cm;
    border-radius: 50%;
    border: 0.15cm solid #fff;
    object-fit: cover;
    object-position: 50% 50%;
    display: block;
    margin: 0 auto;
}

.main-content {
    width: 80%;
    padding: 20px;
    overflow: auto;
}

.contact-info,
.skills,
.education,
.work-experience {
    margin-bottom: 20px;
}

.sidebar h3 {
    text-transform: uppercase;
    border-bottom: 0.05cm solid #fff;
    font-size: 0.45cm;
}

.sidebar a {
    color: #fff;
    text-decoration: none;
}

.sidebar dl {
    margin-left: 0.75em;
}

.sidebar dt {
    min-width: 2em;
}

.sidebar dd {
    margin-left: 0.75em;
}

.degree {
    margin-left: 0.75em;
}

.sidebar h4 {
    margin-bottom: 0;
}

.main-content h3 {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
}

.main-content h4 {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

.main-content p {
    font-family: "Source Sans Pro", sans-serif;
    text-align: justify;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 0.375cm;
}

.work-experience ol {
    list-style-type: none;
    padding: 0 0.25em;
}

.work-experience>ol>li {
    position: relative;
    margin: 0;
    padding-bottom: 0.5cm;
    padding-left: 0.5cm;
}

.work-experience>ol>li:before {
    background-color: #b8abab;
    width: 0.05cm;
    content: "";
    position: absolute;
    top: 0.1cm;
    bottom: -0.2cm;
    left: 0.05cm;
}

.work-experience>ol>li:after {
    content: '';
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' aria-hidden='true' viewBox='0 0 32 32' focusable='false'%3E%3Ccircle stroke='none' fill='%23333333' cx='16' cy='16' r='10'%3E%3C/circle%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    left: -0.09cm;
    top: 0;
    width: 0.35cm;
    height: 0.35cm;
}

.work-experience ul {
    list-style-type: square;
}

.italic {
    font-style: italic;
}

/* Mobile-specific styles */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        overflow: visible; /* Ensure content is not hidden */
        max-width: 90%; /* Set maximum width */
    }


    .sidebar,
    .main-content {
        width: 100%;
        overflow: visible; /* Ensure content is not hidden */
    }
}

/* Dark mode styling */
@media (prefers-color-scheme: dark) {

    body {
        color: #ccc;
        /* Lighter text color for dark mode */
        background: #222;
        /* Darker background for dark mode */
    }

    .sidebar {
        background-color: #333;
        /* Darker sidebar background */
    }

    .main-content {
        background-color: #2a2a2a;
        /* Slightly lighter than the body background */
    }

    a,
    h1,
    h2,
    h3,
    h4 {
        color: #aad;
        /* Light blue color for better visibility in dark mode */
    }

    h1 {
        border-bottom: 0.05cm solid #fff;
    }

    .work-experience>ol>li:after {
        /* Light blue color for better visibility in dark mode */
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' aria-hidden='true' viewBox='0 0 32 32' focusable='false'%3E%3Ccircle stroke='none' fill='%23aaaadd' cx='16' cy='16' r='10'%3E%3C/circle%3E%3C/svg%3E");
    }
}
