@media print {
    @page {
        margin: 1cm;
        /* Actual printed page margin */
    }

    body,
    html {
        background: none;
        /* Remove background color */
        color: #000;
        /* Set text color to black */
        font-size: 12pt;
        /* Adjust font size for better readability */
        margin: 0;
        /* Reset margin here to avoid double margin */
    }

    h1 {
        font-size: 17pt;
    }

    h2 {
        font-size: 15pt;
    }

    h3 {
        font-size: 13pt;
    }

    .container,
    .sidebar,
    .main-content {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .sidebar,
    .mobile-heading,
    .job-title,
    .preamble {
        display: none;
        /* Hide sidebar and headings */
    }

    .print-heading {
        display: block;
    }

    .main-content .education {
        display: block;
    }

    .main-content .education .degree {
        margin-left: 0;
    }

    .work-experience {
        margin-bottom: -1em;
        overflow: auto;
    }

    .work-experience ol {
        margin-left: -1.25em;
    }
}
